.container a{
    margin: 20px;
    border: solid;
    border-color: rgb(221, 30, 30);
    color: rgb(3, 3, 3);
    background-color: #ffffff;
    font-size: 10%solid;
    transition: 1s;
}
a:hover{
    background-color: rgb(221, 110, 204);
    color: rgb(2, 1, 1);
    
}

body{
    background-color: burlywood;
}
.lista{
    
    width: 400px;
    border: solid;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
}


.roda-pe{
    margin: 0 auto;
    width: 300px;
    background-color: #fafafa;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #141414;
    border: solid;
    border-radius: 15px;
}

.roda-pe img{
    width: 50px;
    height: 50px;
}
