*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EF843A;
    

}
video{
    position: relative;
    left: 5px;
    height: 90vh;
}
h1{
    position: relative;
    left: 5px;
}
a{
    color: black;
    text-decoration: none;
    
}