*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EF843A;
    

}
video{
    position: relative;
    left: 5px;
    height: 90vh;
}
h1{
    position: relative;
    left: 5px;
}

    @media screen and (max-device-width: 400px) {
        video {
           width: 90%;
            height: 90%;
           
          }
}
a{
    color: black;
    text-decoration: none;
    
}
footer{
    background-color: #323B3E
}